{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "bracketSameLine": true,
  "printWidth": 150,
  "quoteProps": "as-needed",
  "endOfLine": "lf"
}
