<div>
  <div class="content-container">
    <div class="state-container">
      <div class="state-text-container">
        <p class="state-text">State : Active (Nothing to highlight) 😎</p>
      </div>
      <div class="left-part-illustration-container">
        <img class="illustration" [src]="illustrationPicture" alt="landscape_at_twilight_van_gogh_painting" />
        <p class="illustration-credits">Landscape at Twilight (1890) - Vincent Van Gogh</p>
      </div>
    </div>
    <div class="navigation-container">
      <div class="navigation">
        <ul>
          <li><a href="#">About Me</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Resume (condensed)</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
