@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.timeline-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 86vh;
  z-index: 2;
  overflow-x: hidden;

  .timeline-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .circle {
    width: 170%;
    height: 150%;
    border-radius: 50%;
    background: linear-gradient(-90deg, rgb(70 130 180 / 50%), transparent);
    position: absolute;
    top: -25%;
    left: 0;
    transform: translateX(-50%);
    z-index: 0;
  }

  .timeline-text {
    color: white;
    font-family: Garamond, serif;
    font-size: 5rem;
    left: 1rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  .timeline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 70%;
    height: 100%;

    &::-webkit-scrollbar {
      height: 0.5rem;
      display: block !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(255 255 255 / 30%);
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      display: block !important;
      background: rgb(255 255 255 / 10%);
    }
  }

  /* Menu tabs */
  .menu-tabs-container {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    padding: 1.25rem 2rem;
  }

  .menu-container {
    display: flex;
    margin-right: 1rem;

    .menu {
      position: relative;
      display: inline-block;

      .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.75rem 1rem;
        background-color: #444;
        color: white;
        font-size: 0.85rem;
        font-family: Rubik, sans-serif;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #555;
        }
      }

      .education-menu-list,
      .experiences-menu-list {
        display: none;
        position: absolute;
        top: 100%;
        background-color: #222;
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 0.5rem;
        min-width: fit-content;
        overflow: hidden;
        z-index: 5;

        li {
          display: block;
          padding: 0.5rem;
          border-bottom: 0.1rem solid #555;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: #555;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            font-size: 0.85rem;
            font-family: Rubik, sans-serif;
            padding: 0.5rem;
            white-space: nowrap;
            cursor: pointer;
          }
        }
      }

      &:hover .education-menu-list,
      &:hover .experiences-menu-list {
        display: block;
      }
    }
  }

  /* Timeline */
  .timeline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: 70%;
    margin: 0 2rem;
    border: 0.1rem solid white;
    background: #060c1a;
    padding: 0 2rem;
  }

  .timeline-event-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 40%;
  }

  .event-point-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .event-thumbnail {
    opacity: 0;
    height: 60%;
    width: auto;
    color: white;
  }

  .event-circle {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 2;

    &:hover .event-thumbnail {
      opacity: 1;
    }

    .clickable {
      cursor: pointer;
    }
  }

  .event-date-text {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-family: Garamond, serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    bottom: 70%;
  }

  .event-title-text {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    white-space: normal;
    color: white;
    font-family: Garamond, serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    top: 65%;
  }

  .timeline-line {
    display: flex;
    height: 0.2rem;
    background: white;
    width: 3rem;
    position: relative;
    z-index: 1;
    align-self: center;
  }
}

/* Event details view */
.event-details {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 12.5%;
  right: 12.5%;
  width: 55vw;
  height: 62vh;
  background-color: black;
  padding: 2rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  z-index: 10;
  color: white;

  &::-webkit-scrollbar {
    width: 0.5rem;
    display: block !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 30%);
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    display: block !important;
    background: rgb(255 255 255 / 10%);
  }

  .close-btn {
    align-self: flex-end;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 11;
    background: transparent;

    &:hover {
      background: darkred;
    }
  }

  .event-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Garamond, serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  .event-quick-info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin: 1.5rem 0;
  }

  .illustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    color: white;

    img {
      border: 0.1rem solid white;
      padding: 1rem 2rem;
    }
  }

  .quick-info-container {
    display: flex;
    flex-direction: column;
    place-content: center center;
    width: 70%;
    height: 100%;
    margin-left: 2rem;

    h3 {
      font-family: Rubik, sans-serif;
      font-size: 1.25rem;
      font-style: italic;
      text-decoration: underline;
    }

    p {
      font-family: Rubik, sans-serif;
      font-size: 1rem;
    }
  }

  .event-description,
  .event-tasks-details {
    text-align: justify;
    font-family: Rubik, sans-serif;
    line-height: 1.6;
  }

  .description-title-text,
  .details-title-text {
    font-family: Rubik, sans-serif;
    font-style: italic;
    text-decoration: underline;
  }
}
