.chronology-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 86vh;
  z-index: 2;

  .chronology-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .circle {
    width: 170%;
    height: 150%;
    border-radius: 50%;
    background: linear-gradient(-90deg, rgba(70, 130, 180, 0.5), transparent);
    position: absolute;
    top: -25%;
    left: 0;
    transform: translateX(-50%);
    z-index: 0;
  }

  .chronology-text {
    color: white;
    font-family: Garamond, serif;
    font-size: 3.75rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  .chronology-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: auto;
    width: 70%;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .chronology {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 70%;
    margin: 1rem 5rem;
    border: 0.1rem solid white;
    background: #222222;
  }

  .chronology-segment {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chronology-segment:last-child {
    padding-right: 2rem;
  }

  .chronology-line {
    height: 0.2rem;
    background: white;
  }

  .event-point-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    min-width: 12rem;
  }

  .event-date-text {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-family: Garamond, serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    top: 0;
  }

  .event-info-text {
    position: absolute;
    text-align: center;
    width: 100%;
    white-space: normal;
    padding: 0 0.5rem;
    color: white;
    font-family: Garamond, serif;
    font-size: 1rem;
    top: 6rem;
  }

  .chronology-circle {
    border-radius: 50%;
    margin: 1rem 2rem;
  }
}
