@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

/* Breakpoints definition following the logic of min-width */
$breakpoints: (
  mobile: (
    min: 320px,
    max: 767px,
  ),
  tablet: (
    min: 768px,
    max: 1279px,
  ),
  laptop: (
    min: 1280px,
    max: 1919px,
  ),
  desktop: (
    min: 1920px,
    max: null,
  ),
);

@mixin respond-to($device, $orientation: null) {
  @if map.has-key($breakpoints, $device) {
    $device-data: map.get($breakpoints, $device);
    $min: map.get($device-data, min);
    $max: map.get($device-data, max);

    @if $orientation {
      /* With orientation parameter - ensures specific device + orientation combination */
      @if $orientation == landscape {
        @if $max {
          @media only screen and (min-width: $min + 200px) and (max-width: $max + 200px) and (orientation: $orientation) {
            @content;
          }
        }

 @else {
          @media only screen and (min-width: $min + 200px) and (orientation: $orientation) {
            @content;
          }
        }
      }

 @else {
        /* Portrait or other orientations remain unchanged */
        @if $max {
          @media only screen and (min-width: $min) and (max-width: $max) and (orientation: $orientation) {
            @content;
          }
        }

 @else {
          @media only screen and (min-width: $min) and (orientation: $orientation) {
            @content;
          }
        }
      }
    }

 @else {
      /* Without orientation parameter - applies to the device regardless of orientation */
      @if $max {
        @media only screen and (min-width: $min) and (max-width: $max) {
          @content;
        }
      }

 @else {
        @media only screen and (min-width: $min) {
          @content;
        }
      }
    }
  }

 @else {
    @error "Unknown device '#{$device}'.";
  }
}

.header {
  display: flex;
  position: relative;
  flex-direction: row;
  background: black;
  width: 100%;
  align-items: center;
  z-index: 10;

  /* Center part - Name */
  .name-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .name-text {
      color: white;
      letter-spacing: 0.1rem;
      font-family: Pattaya, sans-serif;
      text-decoration: none;
      cursor: pointer;
      z-index: 9999;
    }

    .name-subtitle {
      position: absolute;
      color: white;
      font-family: Rubik, sans-serif;
      opacity: 0;
    }
  }

  /* Left part - Social networks */
  .sn-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 100%;

    .social-icon-container {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
    }

    .social-icon {
      color: white;
      text-decoration: none;
    }

    .social-label {
      position: absolute;
      color: white;
      font-family: Rubik, sans-serif;
      opacity: 0;
    }
  }

  /* Right part - Navigation */
  .menu-container {
    display: flex;
    position: absolute;
    align-items: center;
    width: 25%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;

    &.menu-visible {
      visibility: visible;
      opacity: 1;
    }

    .menu {
      position: relative;
      display: inline-block;

      .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #444;
        color: white;
        font-family: Rubik, sans-serif;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .menu-list {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #222;
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: fit-content;
        overflow: hidden;

        li {
          display: block;
          border-bottom: 0.1rem solid #555;

          &:last-child {
            border-bottom: none;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            font-family: Rubik, sans-serif;
            white-space: nowrap;
          }
        }
      }

      @media (min-width: map.get(map.get($breakpoints, desktop), min)) {
        &:hover .menu-list {
          display: block;
        }
      }

      /* Mobile/tablet click behavior */
      &.menu-open .menu-list {
        display: block;
      }
    }
  }

  /* Mobile Layout */
  @include respond-to('mobile', 'portrait') {
    height: 8vh;

    .name-text {
      font-size: 3vh;
    }

    .sn-container {
      justify-content: flex-start;
      left: 2%;
      width: 30%;

      .social-icon-container {
        margin: 0 1vh;
      }

      .social-icon {
        width: 3.25vh;
      }
    }

    .menu-container {
      justify-content: flex-end;
      right: 4%;

      .menu {
        .menu-button {
          padding: 1vh;
          font-size: 1.75vh;
          border-radius: 1vh;
        }
      }

      .menu-list {
        border-radius: 1.5vh;

        li {
          padding: 1vh;

          a {
            font-size: 1.75vh;
            padding: 0.25vh;
          }
        }
      }
    }
  }

  @include respond-to('mobile', 'landscape') {
    height: 12vh;

    .name-text {
      font-size: 5vh;
    }

    .sn-container {
      justify-content: flex-start;
      left: 2%;
      width: 30%;

      .social-icon-container {
        margin: 0 3vh;
      }

      .social-icon {
        width: 6vh;
      }
    }

    .menu-container {
      justify-content: flex-end;
      right: 5%;

      .menu {
        .menu-button {
          padding: 1.5vh;
          font-size: 3.1vh;
          border-radius: 1.5vh;
        }
      }

      .menu-list {
        border-radius: 1.5vh;

        li {
          padding: 1vh;

          a {
            font-size: 3.25vh;
            padding: 0.5vh;
          }
        }
      }
    }
  }

  /* Tablet Layout */
  @include respond-to('tablet', 'portrait') {
    height: 8vh;

    .name-text {
      font-size: 3vh;
    }

    .sn-container {
      justify-content: flex-start;
      left: 2%;
      width: 30%;

      .social-icon-container {
        margin: 0 1vh;
      }

      .social-icon {
        width: 3.25vh;
      }
    }

    .menu-container {
      width: 100%;
      justify-content: flex-end;
      right: 7%;

      .menu {
        .menu-button {
          padding: 1vh;
          font-size: 1.25vh;
          border-radius: 1vh;
        }
      }

      .menu-list {
        border-radius: 1.5vh;

        li {
          padding: 1vh;

          a {
            font-size: 1.25vh;
            padding: 0.5vh;
          }
        }
      }
    }
  }

  @include respond-to('tablet', 'landscape') {
    height: 8vh;

    .name-text {
      font-size: 3.25vh;
    }

    .sn-container {
      justify-content: flex-start;
      left: 2%;
      width: 30%;

      .social-icon-container {
        margin: 0 2.5vh;
      }

      .social-icon {
        width: 4vh;
      }
    }

    .menu-container {
      width: 100%;
      justify-content: flex-end;
      right: 7%;

      .menu {
        .menu-button {
          padding: 1.1vh;
          font-size: 1.65vh;
          border-radius: 1vh;
        }
      }

      .menu-list {
        border-radius: 1.5vh;

        li {
          padding: 1.1vh;

          a {
            font-size: 1.5vh;
            padding: 0.5vh;
          }
        }
      }
    }
  }

  /* Laptop Layout */
  @include respond-to('laptop', 'landscape') {
    height: 8vh;

    .name-text {
      font-size: 3.25vh;
    }

    .name-subtitle {
      font-size: 1.65vh;
      top: 1.75vh;
    }

    .name-text:hover + .name-subtitle {
      opacity: 1;
      top: 2.5vh;
    }

    .sn-container {
      justify-content: flex-start;
      left: 2%;
      width: 30%;

      .social-icon-container {
        margin: 0 2.5vh;
      }

      .social-icon {
        width: 4vh;
      }

      .social-label {
        font-size: 1.65vh;
        top: 1.75vh;
      }

      .social-icon-container:hover .social-label {
        opacity: 1;
        top: 2.5vh;
      }
    }

    .menu-container {
      justify-content: flex-end;
      right: 5%;

      .menu {
        .menu-list {
          border-radius: 1.5vh;

          li {
            padding: 1.1vh;

            &:hover {
              background-color: #555;
            }

            a {
              font-size: 1.5vh;
              padding: 0.5vh;
            }
          }
        }

        .menu-button {
          padding: 1.1vh;
          font-size: 1.65vh;
          border-radius: 1vh;

          &:hover {
            background-color: #555;
          }
        }

        &:hover .menu-list {
          display: block;
        }
      }
    }
  }

  /* Desktop Layout */
  @include respond-to('desktop', 'landscape') {
    height: 8vh;

    .name-text {
      font-size: 2.75vh;
    }

    .name-subtitle {
      font-size: 1.25vh;
      top: 1.75vh;
    }

    .name-text:hover + .name-subtitle {
      opacity: 1;
      top: 2.5vh;
    }

    .sn-container {
      justify-content: flex-start;
      left: 2%;
      width: 30%;

      .social-icon-container {
        margin: 0 2.25vh;
      }

      .social-icon {
        width: 3vh;
      }

      .social-label {
        font-size: 1.25vh;
        top: 1.75vh;
      }

      .social-icon-container:hover .social-label {
        opacity: 1;
        top: 2.5vh;
      }
    }

    .menu-container {
      justify-content: flex-end;
      right: 2%;

      .menu {
        .menu-list {
          border-radius: 1.5vh;

          li {
            padding: 1vh;

            &:hover {
              background-color: #555;
            }

            a {
              font-size: 1.25vh;
              padding: 0.5vh;
            }
          }
        }

        .menu-button {
          padding: 1vh;
          font-size: 1.4vh;
          border-radius: 1vh;

          &:hover {
            background-color: #555;
          }
        }

        &:hover .menu-list {
          display: block;
        }
      }
    }
  }
}
