<div class="header">
  <div class="name-container">
    <a class="name-text" routerLink="">Pritam Kantane</a>
  </div>
  <div class="sn-container">
    <div class="linkedin-logo-container">
      <a [href]="links.linkedin">
        <img class="linkedin-logo" [src]="linkedinLogo" alt="Linkedin Logo" />
      </a>
      <p class="linkedin-text">Linkedin</p>
    </div>
    <div class="github-logo-container">
      <a [href]="links.github">
        <img class="github-logo" [src]="githubLogo" alt="Github Logo" />
      </a>
      <p class="github-text">GitHub</p>
    </div>
  </div>
  <div class="menu-container">
    <div class="menu">
      <a class="menu-button" routerLink="">Homepage</a>
      <ul class="menu-list">
        <li><a routerLink="/about-me">About Me</a></li>
        <li><a routerLink="/chronology">Chronology</a></li>
        <li><a routerLink="">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
