<div class="header">
  <div class="name-container">
    <p class="name-text">Pritam Kantane</p>
  </div>
  <div class="sn-container">
    <div class="linkedin-logo-container">
      <a [href]="links.linkedin">
        <img class="linkedin-logo" [src]="linkedinLogo" alt="linkedin-logo" />
      </a>
      <p class="linkedin-text">Linkedin</p>
    </div>
    <div class="github-logo-container">
      <a [href]="links.github">
        <img class="github-logo" [src]="githubLogo" alt="github-logo" />
      </a>
      <p class="github-text">GitHub</p>
    </div>
  </div>
  <div class="menu-container">
    <div class="menu">
      <div class="menu-button">Main Page</div>
      <ul class="menu-list">
        <li><a href="#">About Me</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Resume (condensed)</a></li>
      </ul>
    </div>
  </div>
</div>
