<div class="header">
  <!--Name container -->
  <div class="name-container">
    <a class="name-text" routerLink="">Pritam Kantane</a>
  </div>

  <!--Social networks container -->
  <div class="sn-container">
    <div class="social-icon-container linkedin-logo-container">
      <a [href]="links.linkedin" target="_blank">
        <img class="social-icon linkedin-logo" [src]="linkedinLogo" alt="LinkedIn Logo" />
      </a>
      <p class="social-label linkedin-text">LinkedIn</p>
    </div>

    <div class="social-icon-container github-logo-container">
      <a [href]="links.github" target="_blank">
        <img class="social-icon github-logo" [src]="githubLogo" alt="GitHub Logo" />
      </a>
      <p class="social-label github-text">GitHub</p>
    </div>
  </div>

  <!--Menu burger -->
  <div class="menu-container" [ngClass]="{ 'menu-visible': showMenu }">
    <div class="menu">
      <a class="menu-button" routerLink="">Homepage</a>
      <ul class="menu-list">
        <li><a routerLink="/about-me">About Me</a></li>
        <li><a routerLink="/timeline">Timeline</a></li>
        <li><a routerLink="">Projects</a></li>
      </ul>
    </div>
  </div>
</div>
