@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.footer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 100%;
  background: black;
  bottom: 0;
  z-index: 10;

  .copyright-text {
    color: white;
    font-size: 0.75rem;
    font-family: Rubik, sans-serif;
  }
}
