<section class="about-me-page">
  <!-- Title -->
  <div class="about-me-title-container">
    <div #titleCircle class="circle"></div>
    <p #titleText class="about-me-text">About Me</p>
  </div>

  <div class="about-me-content-container">
    <div class="introducing-content-container">
      <!-- Picture -->
      <div #pictureContainer class="pritam-picture-container">
        <img class="pritam-picture" [src]="pritamPicture" alt="Pritam Picture" />
      </div>

      <!-- Introducing Part -->
      <div #introducingTextContainer class="introducing-text-container">
        <div class="introducing-text-title">
          <p>Pritam <span>(PyyLog)</span></p>
        </div>

        <div class="introducing-text">
          <p>
            I've been fascinated by transport ever since I was a child. My curiosity first led me to automobiles, then to airplanes. It was then that
            I realized I wanted to deepen my knowledge of aeronautics, which led me to pursue engineering studies in this field.<br /><br />

            I then discovered computer science and development. I immediately grasped the opportunities for the future, in terms of new technologies.
            That's what prompted me to specialize in systems, and more specifically in mechatronic systems.<br /><br />

            As my scolarship progressed, I became increasingly aware of the growing importance of intelligent technologies in modern systems. This led
            me to take an interest in artificial intelligence and machine learning, which were once little-known but are now ubiquitous in society.
            Given this enthusiasm for these technologies, I set myself the challenge of learning more about these fields, both by taking related
            courses during my degree course, and by learning on my own, in my spare time.<br /><br />

            My goal is to be able to work in the aerospace or IT industry as a Machine Learning/Deep Learning engineer or software engineer/software
            development engineer.<br /><br />
          </p>
        </div>
      </div>
    </div>

    <!-- Skills Carousel -->
    <div #skillsCarouselContainer class="skills-carousel-container">
      <div class="skills-carousel-title">
        <p>Skills</p>
      </div>

      <div class="skills-carousel">
        <div class="skill-item" *ngFor="let skill of skills; let i = index" (click)="toggleSkillOverlay(i, $event)" [class.active]="isSkillActive(i)">
          <img [src]="skill.thumbnail" alt="{{ skill.name }} Logo" />
          <div class="skill-overlay">
            <h3>{{ skill.name }}</h3>
            <p>Level: {{ skill.level }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
